<div>
    <mat-card>
        <mat-card-title>GitHub</mat-card-title>
        <mat-card-subtitle>Stats</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="content">
                <img
                     src="https://github-readme-stats.vercel.app/api?username=jjs98&count_private=true&show_icons=true&include_all_commits=true&theme=radical" />
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>GitHub</mat-card-title>
        <mat-card-subtitle>{{'Languages' | translate}}</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="content">
                <img
                     src="https://github-readme-stats.vercel.app/api/top-langs/?username=jjs98&layout=compact&theme=radical" />
            </div>
        </mat-card-content>
    </mat-card>
</div>
