mat-card {
  margin: 16px;
  max-width: 1400px;

  .content {
    display: flex;
    margin-top: 32px;

    .profile-picture {
      width: 256px;
      height: 256px;
      border-radius: 128px;
      margin-right: 16px;
    }

    span {
      white-space: break-spaces;
    }
  }
}
