<mat-card>
    <mat-card-header>
        <mat-card-title>{{'about.title' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>
                <img alt="Cloudflare-Logo" src="./../../../assets/images/Cloudflare.png" />
                <a mat-button href="https://www.cloudflare.com/" target="_blank" rel="noopener">Website routing via Cloudflare</a>
            </mat-list-item>
            <mat-list-item>
                <img alt="Nginx-Logo" src="./../../../assets/images/Nginx.png" />
                <a mat-button href="https://www.nginx.com/" target="_blank" rel="noopener">Reverse proxy via self hosted Nginx Proxy
                    Manager</a>
            </mat-list-item>
            <mat-list-item>
                <img alt="Angular-Logo" src="./../../../assets/images/Angular.png" />
                <a mat-button href="https://material.angular.io/" target="_blank" rel="noopener">Angular Material Design</a>
            </mat-list-item>
            <mat-list-item>
                <img alt="Google-Logo" src="./../../../assets/images/Google.png" />
                <a mat-button href="https://fonts.google.com/icons/" target="_blank" rel="noopener">Google Fonts Icons</a>
            </mat-list-item>
            <mat-list-item>
                <img alt="Playwright-Logo" src="./../../../assets/images/Playwright.png" />
                <a mat-button href="https://playwright.dev/" target="_blank" rel="noopener">Tested with Playwright</a>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>